<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="css/criarArmario.css" rel="stylesheet" type="text/css" />
    <link href="js/criarArmario.js" rel="stylesheet" type="text/js" />
</head>

<body>
<header>
    <div class="menu">
        <div class="nome">Armários IFSP</div>
        <nav>
            <a href="#">Perfil</a>
            <a1 href="#">Armários</a1>
            <a href="#">Contratos</a>
            <a href="#">Feedback</a>
            <a href="#">Ajuda</a>
        </nav>
    </div>

    <div class="titulo">
        <h3>BLOCOS DE ARMÁRIOS</h3>
    </div>
    <div class="addlocal">
        <div class="addbloco">
            <button class="adicionarlocal" type="submit">+</button>
            <span contenteditable="true">Adicione o nome do local</span>
        </div>

        <div class=""></div>
    </div>
</header>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</body>
</html>